<% meta = current_page.data %>

<meta charset="utf-8">

<% if meta.full_title %>
  <title><%= meta.full_title %></title>
<% else %>
  <% title = meta.title || derive_title(current_page) %>
  <title><%= title %> | OpenProject Help & Documentation</title>
<% end %>

<% if meta.description %>
  <meta name="description" content="<%= meta.description %>">
<% else %>
  <meta name="description" content="Help & documentation for OpenProject Community, Enterprise Edition, Cloud Edition: getting started, user guide, installation & operations guide, upgrade guide, development guide, API documentation, release notes.">
<% end %>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="docsearch:language" content="<%= I18n.locale %>" />
<% if current_page&.data&.no_toc %>
<meta name="openproject:notoc" content="true" />
<% end %>


<!-- Algolia Searching from the URL bar https://www.algolia.com/doc/tutorials/search-ui/ux-patterns/search-from-the-url-bar/ -->
<link href='/opensearch.xml' rel='search' title='Search through OpenProject Docs' type='application/opensearchdescription+xml'>

<%= favicon_tag "favicon.ico", rel: 'shortcut icon' %>

<%= favicon_tag "apple-touch-icon-120x120.png", rel: 'apple-touch-icon',
                     type: 'image/png',
                     sizes: "120x120" %>
