<div class="header">
  <div class="header--element-container flex-container align-center">
    <a class="nav-toggle hidden-for-desktop">
      <i class="fa fa-bars" aria-hidden="true" data-gl-class-toggle="active" data-target=".nav-wrapper"></i>
      <i class="fa fa-times" aria-hidden="true" data-gl-class-toggle="active" data-target=".nav-wrapper"></i>
    </a>
    <a class="header-link logo-container flex-container justify-center align-center" href="<%= root_path %>">
      <%= image_tag "openproject-logo-white.svg", class: 'logo' %>
      <div class="header--separator hidden-for-mobile"></div>
      <div class="header--help-text hidden-for-mobile">Docs</div>
    </a>
    <% unless current_page.data.disable_searchbar || current_page.url.include?('/search') %>
      <form id="search-form">
        <i class="fa fa-search hidden-for-desktop" aria-hidden="true" data-gl-class-toggle="active" data-target=".header--element-container"></i>
        <i class="fa fa-arrow-left hidden-for-desktop" aria-hidden="true" data-gl-class-toggle="active" data-target=".header--element-container"></i>
        <input type="text" name="q" class="docsearch-input docsearch" placeholder="Search our docs" required/>
        <input type="submit" style="visibility: hidden; position:absolute;" />
      </form>
    <% end %>
  </div>
  <nav class="landing-header--button-group landing-header--on-page">
    <%= partial 'layouts/language_dropdown' %>
    <a href="https://openproject.com/"
       target="_blank"
       title="<%= t('landing.about_openproject') %>"
       class="header-link">
      <%= t('landing.about_openproject') %>
    </a>
    <a href="https://start.openproject.com/"
       target="_blank"
       title="<%= t('landing.get_started_for_free') %>"
       class="landing-header--btn landing-header--get-started-btn animated">
      <%= t('landing.get_started_for_free') %>
    </a>
    <a href="https://www.openproject.org/signin/"
       target="_blank"
       title="<%= t('landing.sign_in') %>"
       class="landing-header--btn landing-header--signin-btn animated">
      <i class="fa fa-lock" aria-hidden="true"></i>
      <%= t('landing.sign_in') %>
    </a>
  </nav>
</div>
