<%
  current_path = current_page.url.chomp('/')
  nav_items = data.default_nav
%>
<nav class="global-nav-content">
  <!-- nav sections -->
  <% nav_items[:sections].each do |sec| %>
    <%# Remove any trailing slash in case it was given %>
    <% section_url = sec[:path].chomp('/') %>

    <% if sec[:generate_categories]
         # Get the section_url without leading slash
         section_prefix = section_url.delete_prefix('/') + '/'
         sec[:section_categories] = generate_section_navigation(section_prefix, sec[:prioritized_order])
       end
    %>

    <div class="global-nav-section">
      <span class="global-nav-block-top nav-link">
        <a class="global-nav-link level-0 <% if current_path == section_url %>active<% end %>" href="<%= section_url %>">
          <%= sec[:title] %>
        </a>
        <div class="section-title <% if sec[:section_categories] %>collapse-toggle<% end %> <% if current_path == section_url %>active<% else %>collapsed<% end %>" data-toggle="collapse" aria-expanded="false" data-target="#nav-children-<%= sec[:title].parameterize %>"></div>
      </span>

      <% if sec[:section_categories] %>
        <div class="collapse <% if current_path.start_with?(section_url) %>show<% end %>" id="nav-children-<%= sec[:title].parameterize %>">
          <% sec[:section_categories].each do |cat| %>
          <span class="global-nav-cat nav-link">
            <% if cat[:external_url] %>
              <a class="global-nav-link level-1" href="<%= cat[:url] %>" target="_blank">
                <%= cat[:title] %>
              </a>
            <% else %>
              <% category_path = (cat[:url] || cat[:path]).chomp('/') %>
              <a class="global-nav-link level-1 <% if current_path == category_path %>active<% end %>" href="<%= category_path %>">
                <%= cat[:title] %>
                <% if cat[:ee_only] %>
                  <span class="badges-drop global-nav-badges" data-toggle="tooltip" data-placement="top" title="Available in <%= cat[:ee_tier] %>"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                <% end %>
              </a>
              <% end %>
            <div class="<% if cat[:children] && !cat[:children].empty? %>collapse-toggle<% end %> <% if current_path == category_path %>active<% else %>collapsed<% end %>" data-toggle="collapse" aria-expanded="false" data-target="#nav-sub-children-<%= cat[:title].parameterize %>"></div>
          </span>

          <% if cat[:children] && !cat[:children].empty? %>
            <div class="collapse <% if current_path.start_with?(category_path) %>show<% end %>" id="nav-sub-children-<%= cat[:title].parameterize %>">
              <% cat[:children].each do |doc| %>
                <% doc_path = (doc[:url] || doc[:path]).chomp('/') %>
                <span class="nav-link">
                  <% if doc[:external_url] %>
                    <a class="global-nav-link level-2" href="<%= doc[:external_url] %>" target="_blank">
                      <%= doc[:title] %>
                    </a>
                  <% else%>
                    <a class="global-nav-link level-2 <% if current_path == doc_path %>active<% end %>" href="<%= doc_path %>">
                      <%= doc[:title] %>
                      <% if doc[:ee_only] %>
                        <span class="badges-drop global-nav-badges" data-toggle="tooltip" data-placement="top" title="Available in <%= doc[:ee_tier] %>"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                      <% end %>
                    </a>
                    <% end %>
                </span>
                <% end %>
            </div>
            <% end %>

          <% end %>
        </div>
        <% end %>
    </div>
    <% end %>
</nav>
