<% gtm_id = ENV['GTM_ID'] %>
<% hubspot_id = ENV['HUBSPOT_PORTAL_ID'] %>

<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="<%= I18n.locale %>"
      lang="<%= I18n.locale %>"
      prefix="og: http://ogp.me/ns#">
  <head>
    <% if gtm_id.present? %>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
              new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','<%= gtm_id %>');</script>
      <!-- End Google Tag Manager -->
    <% end %>

    <%= stylesheet_link_tag 'site.css' %>
    <%= partial 'layouts/head' %>

    <% if hubspot_id.present? %>
      <!-- Start of HubSpot Embed Code -->
      <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/<%= hubspot_id %>.js"></script>
      <!-- End of HubSpot Embed Code -->
    <% end %>
  </head>
  <body class="<%= page_classes %> <%= current_page.data.body_classes || '' %>">
    <% if gtm_id.present? %>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= gtm_id %>"
                        height="0" width="0" style="display:none;visibility:hidden"></iframe>
      </noscript>
      <!-- End Google Tag Manager (noscript) -->
    <% end %>

    <%= partial 'localizable/cookie_warning' %>
    <%= yield %>
    <%= partial 'localizable/footer' %>
    <%= partial 'layouts/docsearch' %>
    <%= javascript_include_tag 'site.js' %>
  </body>
</html>
