<% wrap_layout :base do %>
  <%#= TODO partial 'layouts/gtm' %>
  <%= partial 'layouts/header' %>
  <div class="wrapper">
  <div class="container-fluid px-0 d-flex">
    <div class="nav-wrapper">
      <aside id="global-nav" class="global-nav d-block d-lg-flex justify-content-none justify-content-lg-end">
        <%= partial 'layouts/sidebar_navigation' %>
      </aside>
      <button type="button" class="btn nav-toggle hidden-for-mobile" data-gl-class-toggle="active" data-target=".nav-wrapper">
        <span class="arrow"></span>
        <span class="arrow"></span>
        <div class="label">Collapse sidebar</div>
      </button>
    </div>
    <div class="main class js-main-wrapper <%= current_page.data.no_toc ? '' : 'has-toc' %>">
      <% if config[:breadcrumbs] %>
        <% breadcrumbs = build_breadcrumbs %>
        <% if breadcrumbs&.length > 0 %>
          <ul class="breadcrumbs">
            <% breadcrumbs.each do |item| %>
              <% title = breadcrumb_title(item) %>
              <% if item == current_page %>
                <li class="breadcrumb"><%= title %></li>
              <% else %>
                <li class="breadcrumb"><%= link_to(title, item) %></li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      <% end %>
      <div id="doc-nav" class="doc-nav has-toc">
        <a class="toc-collapse" role="button" data-toggle="collapse" href="#markdown-toc" aria-expanded="true" aria-controls="markdown-toc"></a>
      </div>
      <div class="article-content js-article-content"
           role="main"
           itemscope
           itemprop="mainContentOfPage">
        <%= yield %>
      </div>
      <%= partial 'layouts/feedback' %>
    </div>
    <div class="content-overlay"></div>
    <div class="clear"></div>
  </div>
 </div>

  <%#= TODO mermaid.js support ? partial 'layouts/mermaid' %>
<% end %>
