<div class="footer--container">
  <footer class=footer>
    <div class='animated'>
      <div class="footer--links-container row justify-content-center">
        <div class='col-6 col-md-3 col-lg-3 col-lg-offset-2 footer-link-holder'>
          <h3 class=footer-link-title><%= I18n.t('footer.links.blog.title') %></h3>
          <ul class='animated footer-links'>
            <li><a href="https://www.openproject.org/trello-alternative/" target="_blank"><%= I18n.t('footer.links.blog.trello_alternative') %></a></li>
            <li><a href="https://www.openproject.org/openproject-9-new-scrum-agile-board-view/" target="_blank"><%= I18n.t('footer.links.blog.scrum_agile') %></a></li>
            <li><a href="https://www.openproject.org/step-by-step-guide-boards-for-scrum-and-agile-project-management/" target="_blank"><%= I18n.t('footer.links.blog.getting_started') %></a></li>
            <li><a href="https://www.openproject.org/synchronize-excel-openproject/" target="_blank"><%= I18n.t('footer.links.blog.excel_sync') %></a></li>
            <li><a href="https://www.openproject.org/jira-alternative/" target="_blank"><%= I18n.t('footer.links.blog.alternative_jira') %></a></li>
            <li><a href="https://www.openproject.org/openproject-collaborative-excel-alternative-project-management/" target="_blank"><%= I18n.t('footer.links.blog.alternative_excel') %></a></li>
          </ul>
        </div>
        <div class='col-6 col-md-3 col-lg-3 footer-link-holder'>
          <h3 class=footer-link-title><%= I18n.t('footer.links.pricing.title') %></h3>
          <ul class='animated footer-links'>
            <li><a href="https://www.openproject.org/enterprise-edition/" target="_blank"><%= I18n.t('footer.links.pricing.enterprise_edition') %></a></li>
            <li><a href="https://www.openproject.org/hosting/" target="_blank"><%= I18n.t('footer.links.pricing.hosting') %></a></li>
            <li><a href="https://www.openproject.org/pricing/#support" target="_blank"><%= I18n.t('footer.links.pricing.maintenance') %></a></li>
            <li><a href="https://www.openproject.org/training-and-consulting/" target="_blank"><%= I18n.t('footer.links.pricing.training') %></a></li>
            <li><a href="https://www.openproject.org/training-and-consulting/#certification" target="_blank"><%= I18n.t('footer.links.pricing.certification') %></a></li>
            <li><a href="https://www.openproject.org/contact-us/" target="_blank"><%= I18n.t('footer.links.pricing.custom_development') %></a></li>
            <li><a href="https://www.openproject.org/reseller-program/" target="_blank"><%= I18n.t('footer.links.pricing.reseller') %></a></li>
          </ul>
        </div>
        <div class='col-6 col-md-3 col-lg-3 footer-link-holder'>
          <h3 class=footer-link-title><%= I18n.t('footer.links.project_management.title') %></h3>
          <ul class='animated footer-links'>
            <li><a href="https://www.openproject.org/collaboration-software-features/timeline-project-management/"" target="_blank"><%= I18n.t('footer.links.project_management.gantt') %></a></li>
            <li><a href="https://www.openproject.org/scrum-agile-boards/" target="_blank"><%= I18n.t('footer.links.project_management.boards') %></a></li>
            <li><a href="https://www.openproject.org/collaboration-software-features/task-management-software/" target="_blank"><%= I18n.t('footer.links.project_management.issue_tracking') %></a></li>
            <li><a href="https://www.openproject.org/collaboration-software-features/scrum-agile-project-management/" target="_blank"><%= I18n.t('footer.links.project_management.agile') %></a></li>
            <li><a href="https://www.openproject.org/collaboration-software-features/time-tracking-software/" target="_blank"><%= I18n.t('footer.links.project_management.costs') %></a></li>
            <li><a href="https://www.openproject.org/collaboration-software-features/bug-tracking-software/" target="_blank"><%= I18n.t('footer.links.project_management.bug_tracking') %></a></li>
            <li><a href="https://www.openproject.org/collaboration-software-features/product-roadmap-software/" target="_blank"><%= I18n.t('footer.links.project_management.roadmap') %></a></li>
          </ul>
        </div>
        <div class='col-6 col-md-3 col-lg-3 footer-link-holder'>
          <h3 class=footer-link-title><%= I18n.t('footer.links.about_us.title') %></h3>
          <ul class='animated footer-links'>
            <li><a href="https://www.openproject.org/gdpr-compliance/" target="_blank"><%= I18n.t('footer.links.about_us.gdpr') %></a></li>
            <li><a href="https://www.openproject.org/about-us/what-our-users-say/" target="_blank"><%= I18n.t('footer.links.about_us.user_feedback') %></a></li>
            <li><a href="https://www.openproject.org/about-us/career/" target="_blank"><%= I18n.t('footer.links.about_us.career') %></a></li>
            <li><a href="https://www.openproject.org/newsletter/" target="_blank"><%= I18n.t('footer.links.about_us.newsletter') %></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer--separator"></div>

    <div class="footer--generic-line-container">
      <div class="link-container footer-links">
        <a class="generic-link" href="https://www.openproject.org/contact-us/" target="_blank">
          <%= I18n.t('footer.links.contact_us') %>
        </a>
        <a class="generic-link" href="https://www.openproject.org/legal-notice/" target="_blank">
          <%= I18n.t('footer.links.legal_notice') %>
        </a>
        <a class="generic-link" href="https://www.openproject.org/terms-of-service/" target="_blank">
          <%= I18n.t('footer.links.terms_of_service') %>
        </a>
        <a class="generic-link" href="https://www.openproject.org/data-privacy-and-security/" target="_blank">
          <%= I18n.t('footer.links.data_privacy') %>
        </a>
      </div>

      <div class="footer--separator hidden-for-desktop"></div>

      <div class="footer-social-media">
        <a class="social-media-link"  href="https://twitter.com/openproject" target="_blank">
          <%= image_tag "social-media/twitter_logo_white.png" %>
        </a>
        <a class="social-media-link"  href="https://www.facebook.com/openprojectfoundation" target="_blank">
          <%= image_tag "social-media/facebook_logo.png" %>
        </a>
        <a class="social-media-link"  href="https://github.com/opf/openproject" target="_blank">
          <%= image_tag "social-media/github_logo.png" %>
        </a>
        <a class="social-media-link"  href="https://www.youtube.com/c/OpenProjectCommunity" target="_blank">
          <%= image_tag "social-media/youtube_logo.png" %>
        </a>
      </div>

      <div class="footer-copyright">
        © <%= Date.today.year %> - OpenProject. All rights reserved.
        <br/>
        <% if data.buildinfo&.commit %>
          <%= link_to "Build #{data.buildinfo&.commit[0..7]}", data.buildinfo.url %>
          <%= relative_date(data.buildinfo.timestamp) %>
          ago
        <% end %>
      </div>
    </div>

  </footer>
</div>
